<div class="page-wrapper page">
  <div class="container">
    <section class="page-title">
      <div class="row align-items-center">
        <div class="col">
          <h1 class="showcase-title h2">Leaves</h1>
        </div>
        <div class="col-md-6 col-5 text-end" *ngIf="!isUserHod">
          <a routerLink="/leaves/new" class="btn btn-primary"><i class="fa-solid fa-plus"></i> New Leave</a>
        </div>
      </div>
    </section>
    <section class="page-content mt-4">
      <form [formGroup]="filterForm">
        <div class="row mb-4 ">
          <div class="col-md-6 col-12 mb-2">
            <div class="form-group">
              <label for="search" class="form-label">Search</label>
              <input type="text" class="form-control" id="search" placeholder="Search..." formControlName="search">
            </div>
          </div>
          <div class="col-md-6 col-12 mb-2">
            <div class="form-group">
              <label for="status" class="form-label">Status</label>
              <select class="form-select" id="status" formControlName="status">
                <option value="">All</option>
                <option *ngFor="let option of leaveStatusOptions" [value]="option">{{option}}</option>
              </select>
            </div>
          </div>
          <div class="col-12 mt-2 text-end">
            <button class="btn btn-primary" (click)="applyFilters()">Apply</button>
            <button class="btn btn-secondary ms-3" (click)="resetFilters()">Reset</button>
          </div>
        </div>
      </form>
      <!-- Table View Start -->
      <div class="row pt-2">
        <div class="col">
          <div class="table-wrapper bg-light table-responsive">
            <app-table [sortOptions]="sortOptions" [defaultField]="'createdAt'" (sortChange)="onSortChange($event)">
              <tbody>
                <tr *ngFor="let leave of leaveData.data">
                  <td *ngIf="isUserHod">
                    {{leave.user.name || "" }}
                  </td>
                  <td>
                    {{leave.fromDate | date : 'mediumDate'}}
                  </td>
                  <td>
                    {{leave.toDate | date : 'mediumDate'}}
                  </td>
                  <td>{{ leave.reason || "" }}</td>
                  <td><span class="badge" [ngClass]="utilSvc.getLeaveStatus(leave)">{{
                      leave.status }}</span></td>
                  <td>
                    {{leave.createdAt | date : 'mediumDate'}}
                  </td>
                  <td>
                    <a class="btn btn-outline-secondary btn-sm" [routerLink]="['/leaves', leave.leaveId]"
                      ngbTooltip="Leave Details"><i class="fa-solid fa-eye"></i></a>
                    <button class="btn btn-success btn-sm ms-2"
                      *ngIf="isUserHod &&  leave.status === leaveStatusTypes.PENDING"
                      (click)="updateLeaveStatus(leave, leaveStatusTypes.APPROVED)" ngbTooltip="Approve Leave"><i
                        class="fa-solid fa-check"></i></button>
                    <button class="btn btn-outline-danger btn-sm ms-2"
                      *ngIf="isUserHod && leave.status === leaveStatusTypes.PENDING"
                      (click)="updateLeaveStatus(leave, leaveStatusTypes.REJECTED)" ngbTooltip="Reject Leave"><i
                        class="fa-solid fa-xmark"></i></button>
                  </td>
                </tr>
              </tbody>
            </app-table>
            <div class="text-center" *ngIf="!leaveData.data?.length">
              <p class="helper-text"><span translate>No records available.</span></p>
            </div>
            <ngb-pagination *ngIf="leaveData.total" class="table-pagination" [collectionSize]="leaveData.total"
              [(page)]="pageNumber" [pageSize]="pageCount" [maxSize]="3" (pageChange)="onPageChange()"
              aria-label="Default pagination" [boundaryLinks]="true"></ngb-pagination>
          </div>
        </div>
      </div>
      <!-- Table View End -->
    </section>
  </div>
</div>
